<h1>New Rescue</h1>

<%= form_with url: animal_rescue_path(@animal), method: :post do |form| %>
  <div>
    <%= form.label :date %><br>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :rescuers %><br>
    <%= form.text_field :rescuers %>
  </div>
  
  <div>
	<%= form.label :organization %><br>
    <%= form.select :organization, Rescue.organizations %><br>
  </div>
  
  <div>
	<%= form.label :notes %><br>
    <%= form.text_area :notes %><br>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>