<h1>Animals</h1>

<%= link_to "New Animal", new_animal_path %>


<main>
<% @animals.each do |animal| %>
 
  <h3><%= animal.name %> (<%= animal.alias %>)</h3>
  
  <img src="https://upload.wikimedia.org/wikipedia/commons/1/18/Dog_Breeds.jpg" style="aspect-ratio:1; object-fit:cover;" />
  
  <p>
    <strong>Status:</strong>
    <%= animal.status %>
  </p>
  
  <p>
    <strong>Particular Signs:</strong>
    <%= animal.particular_signs %>
  </p>
  
  <a href="<%= animal_path(animal) %>"><button>Details</button></a>

<% end %>
</main>